{% extends 'base.html' %}

{% block content %}

{% load martortags %}

<style>

    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #0433BF;
    }

.forminput {
  font-family: "Roboto", sans-serif;
  outline: 1px;
  min-width: 30%;
  border: 1px;
  border-color: #000000;
  margin: 5px 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: fit-content;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
    .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 70%;
  max-height: 700px;
  margin: 100px auto 100px;
  box-sizing: border-box;
  padding: 30px 0 70px 0;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.formtextarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
  height: 120px;
  resize: none;
  overflow: auto;
}

.demo-width-class {
  width: 400px;
}


  a {
    text-decoration: none;
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }



</style>


<a href="{% url 'my_appeals'%}"><button class="mdc-button mdc-button--outlined" style="float:right"><span class="mdc-button__ripple"></span>Вернуться ко всем обсуждениям</button></a>

<h3>Тема обращения: {{ appeal.theme }}</h3>

{% if is_tenant %}
    {% if is_taken %}
<p>С Вами ведет диалог менеджер компании {{ appeal.manager.company.name }}, {{appeal.manager.user.first_name }}
    {{appeal.manager.user.last_name}}.</p>
    {% else %}
<p>Ваше обращение к компании {{ appeal.tenant.house.company.name }} скоро будет рассмотрено.</p>
    {% endif %}
{% endif %}

{% if is_manager %}
    {% if is_taken %}
<p>С Вами ведет диалог житель {{comment.author.first_name}} {{comment.author.last_name}}.</p>
    {% else %}
<p>К вашей компании обращается житель {{comment.author.first_name}} {{comment.author.last_name}}, он очень ждет Вашего
    ответа.</p>
    {% endif %}
{% endif %}
<form method="POST">
    {% csrf_token %}


    <br><br>
    <div style="margin: 0 0 10px;">
        <textarea class="formtextarea" name="message" minlength="1" placeholder="Сообщение"></textarea>
        <button class="mdc-button" type="submit" style=" width:100%;"><span class="mdc-button__ripple"></span>Отправить</button>
    </div>
<br><br>
<div>
    {% for message in appeal_messages %}
    {% if message.my_message %}
    <div class="forminput" style="background:#FFFFFF">
        <span style="color:var(--mdc-theme-secondary);">{{ message.appealmessage.creator.first_name }}</span>
        <span style="color:#808080; text-transform:lowercase; float:right; font-size:12pt">{{ message.appealmessage.cr_date}}</span>
        <br>
        <span>{{ message.appealmessage.text|safe_markdown }}</span>
    </div>

<div></div>
    {% else %}
         <div class="forminput" style="background:#AACCFF;">
             <span style="color:var(--mdc-theme-secondary);">{{ message.appealmessage.creator.first_name }}</span>
             <span style="color:#808080; text-transform:lowercase; float:right; font-size:12pt">{{ message.appealmessage.cr_date}}</span>
             <br>
             <span>{{ message.appealmessage.text|safe_markdown }}</span>
         </div>
    <div></div>
    {% endif %}
    {% endfor %}
</div>
</form>







{% endblock %}
