# Django
Django==3.0.5

# Code style
pylint==2.5.0
pylint-django==2.0.15

# Other
sqlparse==0.3.1
asgiref==3.2.3
pytz==2019.3
Sphinx==3.0.1
Pillow==7.1.2

# webserver
daphne==2.5.0

# markdown
martor==1.4.9
Markdown==3.2.2

# celery
celery==4.4.2

# Database
mysqlclient==1.4.6
