{% load static %}

        <h1 style="margin: 50px auto;">Редактирование профиля менеджера</h1>
        <hr>

        <a href="{% url 'manager_my_cabinet' %}">Вернуться в профиль</a>

        <div>
            <img src="{{ user.manager.photo.url }}" width="260" height="250">
        </div>
        <form action="" method="post" class="" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {{ form.photo.errors }}
                <label> Моя фотография:</label>
                {{ form.photo }}
            </div>
            <input type="submit" value="Обновить фото" class="button">
        </form>

        <form method="POST">
            {% csrf_token %}
            <label for="username-id">Ваше имя:</label>
            <input type="text" name="username" id="username-id" value={{user.username}}><br>

            <label for="company_inn-id">Выберете вашу компанию по ИНН</label>
                <div class="select">
                    <select id="company_inn-id" name="company_inn" required>
                        {% for company in companies %}
                            <option class="op" value={{company.inn}}>{{ company.inn }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" value="Сохранить изменения">
        </form>