        {% load static %}

        <h1 style="margin: 50px auto;">Личный кабинет жильца</h1>
<hr>

        <a>Имя: {{ user.username }}</a>
<hr>

        {% if homeless %}
        <a>Вы не подключены к дому, для дальнеешего пользование сервисом, пожалуйста, выберите свой дом в редактировании профиля</a>
<hr>

        {% else %}
        <a href="{% url 'forum' id=user.tenant.house.forum.id%}"><button>Форум вашего дома</button></a>
        <a href="{% url 'forum' id=user.tenant.house.company.forum.id%}"><button>Форум управляющей компании вашего дома</button></a>
<hr>

        {% if user.tenant.is_vol %}
        <p>Вы волонтёр!!!!!!</p>
       <br> <a href="{% url 'volunteer' %}"><button>Страница для волонтерствования</button></a>
        {% else %}
        <p>Вы не волонтёр!!!!!!</p>
        <!--- здесь должна быть ссылка на тест --->
        {% endif %}
        <a href="{% url 'help' %}"><button>Мои запросы о помощи</button></a>
<hr>

        <a href="{% url 'my_appeals' %}"><button>Мои обращения к компании</button></a>
<hr>

        <a>Адрес: {{ user.tenant.house.address }}</a>
<br>
        {% endif %}
        <a href="{% url 'redact_profile'%}"><button>Редактирование профиля</button></a>
