{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        <!-- TODO: Сверстать при помощи bootstrap-форм -->
        {% csrf_token %}
        <p>
            <input type="text" name="subject">
            <input type="text" name="message">
            <input type="text" name="user_mail">
        </p>
        <input type="submit" value="Сохранить">
    </form>
    {% for post in feedbacks %}
        <h3>{{ post.author }}</h3>
        <p>{{ post.text }}</p>
        <hr>
    {% endfor %}


{% endblock %}

