<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        {% block footer %}
        <span class="text-muted"> s104, {% now "Y" %}.</span>
        <span class="text-muted" >К нашей системе подключены {{ num_c }} компаний и {{ num_h }} домов.</span>
        <a href="/static/docs/index.html" align = "right" style="border:1px solid; border-radius: 5px; margin-left:2%; padding:1%;">
            Документация
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
         Политика конфиденциальности
        </button>
        <br>
        <span class="text-muted">Телефон: +7(...)...-..-..</span>
        <br>
        <span class="text-muted">Эл. почта: ...@...</span>
        <a href="https://vk.com/juk_project"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/1024px-VK.com-logo.svg.png" width="40"
   height="40" align = "right" alt="https://vk.com/juk_project"></a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Политика конфиденциальности.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{pc}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
        {% endblock %}
    </div>
</footer>