<header>
    {% load static %}
    <div class="container">
        {% block header %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="height:7%; background-color: #F48DBD;">
            <div class="container">
                {% if is_tenant %}
                    <a clas/home/s104s="navbar-brand" href="{% url 'manager_main' %}" style="transform: translateX(-50%);left: 50%;position: absolute;">
                    <img src="{% static 'img/logo.svg' %}" style="height: 90%;">
                    </a>
                    {% elif is_manager %}
                    <a clas/home/s104s="navbar-brand" href="{% url 'tenant_main' %}" style="transform: translateX(-50%);left: 50%;position: absolute;">
                    <img src="{% static 'img/logo.svg' %}" style="height: 90%;">
                    </a>
                {% endif %}
                
                {% if if_sign_but %}
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav mr-right">
                    <div class="navbar-text">
                        Здравствуйте, {{ request.user.username }}
                    </div>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
                <ul class="navbar-nav mr-right">
                    {% if is_tenant %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'tenant_main' %}">Главная страница</a></li>
                    {% elif is_manager %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'manager_main' %}">Главная страница</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <ul class="navbar-nav mr-right">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                </ul>
                {% endif %}
                {% endif %}
            </div>
        </nav>
        {% endblock %}
    </div>
</header>