<header>
    <div class="container">
        {% block header %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    JUK
                </a>
                {% if if_sign_but %}
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav mr-right">
                    <div class="navbar-text">
                        Здравствуйте, {{ request.user.username }}
                    </div>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
                <ul class="navbar-nav mr-right">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'profile' username=request.user.username %}">Профиль</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav mr-right">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                </ul>
                {% endif %}
                {% endif %}
            </div>
        </nav>
        {% endblock %}
    </div>
</header>