<html>
<head>

  <title>Tenant - Main Page</title>

  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
  <div class="wrapper">

    <div class="rectangle-big">
        <div class="title">Новости</div>
        <img src="rectangle.png">
    </div>

    <div class="rectangle-horizontal " onclick="window.location.href='forum'">
        <div class="title">Форум</div>
        <img src="rectangle.png">
    </div>

    <div class="rectangle-vertical" onclick="window.location.href='https://yandex.ru/pogoda/moscow'">
        <div class="title">Погода</div>
        <img src="vrectangle.png">
    </div>

    <div class="square" onclick="window.location.href='my_cabinet'">
        <div class="title">Личный кабинет</div>
        <img src="settings.png">
    </div>

     <div class="square" onclick="window.location.href='news'">
        <div class="title">Мои задания</div>
        <img src="settings.png">
    </div>

    <div class="square" onclick="window.location.href='vol/test'">
        <div class="title">Волонтерство</div>
        <img src="settings.png">
    </div>

    <div class="rectangle-horizontal" onclick="window.location.href='news'">
        <div class="title">Обращения</div>
        <img src="rectangle.png">
    </div>

    <div class="rectangle-horizontal" onclick="window.location.href='passes'">
        <div class="title">Пропуски</div>
        <img src="rectangle.png">
    </div>

  </div>
</body>
</html>
