<html>
<head>

  <title>Tenant - Main Page</title>

  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
  <div class="roof">
    <img class="logo" src="{% static 'img/logo.svg' %}">
    <img src="{% static 'img/roof.svg' %}">
  </div>
  <div class="wrapper">

    <div class="rectangle-big" onclick="window.location.href='/manager/news'">
        <div class="title">Новости</div>
        
        
    </div>

    <div class="rectangle-horizontal" onclick="window.location.href='forum'">
        <div class="title">Форум</div>
        
        
    </div>

    <div class="rectangle-vertical" onclick="window.location.href='https://yandex.ru/pogoda/moscow'">
        <div class="title">Погода у вас дома</div>
        <div class="weather">
            <p>
            Ночью: {{night}}°C
            <img src="https://yastatic.net/weather/i/icons/blueye/color/svg/{{night_icon}}.svg"></img>
             </p>
        </div>
         <div class="weather">
            <p>
            Утром: {{morning}}°C
            <img src="https://yastatic.net/weather/i/icons/blueye/color/svg/{{morning_icon}}.svg"></img>
             </p>
        </div>
        <div class="weather">
            <p>
            Днём: {{day}}°C
            <img src="https://yastatic.net/weather/i/icons/blueye/color/svg/{{day_icon}}.svg"></img>
             </p>
        </div>
         <div class="weather">
            <p>
            Вечером: {{evening}}°C
            <img src="https://yastatic.net/weather/i/icons/blueye/color/svg/{{evening_icon}}.svg"></img>
             </p>
        </div>
        
        
    </div>

    <div class="square" onclick="window.location.href='/tenant/my_cabinet'">
        <div class="title">Личный кабинет</div>
        <img src={{user.tenant.photo.url}}>
    </div>

     <div class="square" onclick="window.location.href='vol/help'">
        <div class="title">Мои задания</div>
        
    </div>

    <div class="square" onclick="window.location.href='vol/test'">
        <div class="title">Волонтерство</div>
        
    </div>

    <div class="rectangle-horizontal" onclick="window.location.href='my_appeals'">
        <div class="title">Обращения</div>
        
    </div>

    <div class="rectangle-horizontal" onclick="window.location.href='tenant/pass'">
        <div class="title">Пропуски</div>
        
    </div>

  </div>
</body>
</html>
