{% extends 'base.html' %}

{% block content %}

<div class="container col-sm-4"
     style="background-color: #e8e9e9; border-radius: 10px; padding: 20px 5px 30px 5px; margin 20px 20px 20px 20px">
    <div class="row h-100 justify-content-center align-items-center">
        <form method="post" class="col-sm-9 login">
            {% csrf_token %}
            <h2>Регистрация</h2>
            {% if not error == None %}
            <div style="color: red;">{{ error }}</div>
            {% endif %}
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Логин">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Пароль">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password2" name="password2"
                       placeholder="Пароль ещё раз">
            </div>

            <div class="form-group">
                <label for="tenant-role-id">Житель</label>
                <input type="radio" id="tenant-role-id" name="role" value="tenant">
            </div>
            <div>
                <label for="tenant-role-id">Менеджер</label>
                <input type="radio" id="manager-role-id" name="role" value="manager">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
            </div>
            <div class="form-group">
                <a href="{% url 'login' %}">Уже есть аккаунт?</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}