{% extends 'base.html' %}
{% block content %}
<style>
    a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }

    .themes{
    width:100%;
    border: 1px solid #FFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }


    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #0433BF;
    --mdc-theme-background: #021859;
    --mdc-theme-error: #b00020;
    }

    .category {
    width: 100%;
    min-height: 60px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20pt;
    text-align: center;
    margin: 10px 0;
}
.left{
  grid-area: left;
}
.right{
  grid-area: right;
}
.right2{
  grid-area: right;
}

.bottom{
margin:10px auto 0;
  grid-area: bottom;
}
.grid {
  display: grid;
  grid-template: "left right" auto
                 "left right" auto;
 grid-gap: 10px;
}
</style>
<br>

{% if is_tenant %}
    <a href="{% url 'tenant_main'%}"><button class="mdc-button mdc-button--outlined" style="float:right;"><span class="mdc-button__ripple"></span>Вернуться на главную</button></a>
    {% elif is_manager %}
    <a href="{% url 'manager_main'%}"><button class="mdc-button mdc-button--outlined" style="float:right;"><span class="mdc-button__ripple"></span>Вернуться на главную</button></a>
    {% endif %}
<br><br>
<div class="grid">

    <div class="left">
        <div class="category">
            <p style="font-size: 22pt; text-align: center;">Открытые задания для выполнения</p>
            {% for task in opened_tasks %}
            <a style="color: var(--mdc-theme-primary)" href="{% url 'task' id=task.id %}">{{ task.description }}</a><br><br>
            {% endfor %}
        </div>
    </div>
    <div class="right">
        <div class="category">
            <p style="font-size: 22pt; text-align: center;">Задания за которые вы взялись</p>
            {% for task in taken_tasks %}
            <a style="color: var(--mdc-theme-primary)" href="{% url 'task' id=task.id %}"> {{ task.description }}</a><br><br>
            {% endfor %}
        </div>
        <div class="category">
            <p style="font-size: 22pt; text-align: center;">Задания, которые вы выполнили</p>
            {% for task in closed_tasks %}
            <a style="color: var(--mdc-theme-primary)" href="{% url 'task' id=task.id %}"> {{ task.description }}</a><br><br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}