{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% include 'header.html' %}
{% block content %}

{% load martortags %}

<style>
    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #00c656;
    --mdc-theme-background: #021859;
    --mdc-theme-surface: #0B9ED9;
    --mdc-theme-error: #b00020;
    }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;

  border-radius: 4px;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
  height: 120px;
  resize: none;
  overflow: auto;
}

    .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 70%;
  max-height: 700px;
  margin: 30px auto 100px;
  box-sizing: border-box;
  padding: 30px 0 70px 0;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.card{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
}

.card-body{
  border: none;
}
.card-header{
  border: none;
}


    a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }

     .link {
    }

    .card a {
     display: block;
     height: 100%;
     color: black;
    }

</style>

<br>


    <p style="margin: 0 auto;font-size: 25pt; text-align: center;">Новости</p>
    {% if is_tenant %}
    <a href="{% url 'tenant_main' %}">
        <button class="mdc-button" style="width:100%;"><span class="mdc-button__ripple"></span>Вернуться на главную</button>
    </a>
    {% elif is_manager %}
    <a href="{% url 'manager_main' %}">
        <button class="mdc-button" style="width:100%;"><span class="mdc-button__ripple"></span>Вернуться на главную</button>
    </a>
<br><br>
    <a href="{% url 'create_news' %}">
        <button class="mdc-button mdc-button--raised" style="width:30%; margin-left: 35%;">Создать новость</button>
    </a>
    {% endif %}
    <br><br>

    <div class="row row-cols-1 row-cols-md-2">
        {% for item in record %}
        <div class="col mb-4">

            <div class="card link" style="width: 100%;">
                <a href="{% url 'news' news_id=item.id %}">
                <p class=" card-header card-title" style="font-size: 18pt;">{{ item.publicationTitle }}</p>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-info">{{ item.company.name }} {% if item.donation_on %}<span
                            style="color:green;">Сбор денег</span>{% endif %}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.publicationDate | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text">{{ item.publicationText|safe_markdown }} </p>
                    <a href="{% url 'news' news_id=item.id %}" class="card-link mdc-button"><span class="mdc-button__ripple"></span>Перейти к новости</a>

                </div>
                    </a>
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock %}