{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% load martortags %}

{% block content %}

<style>
   a {
    text-decoration: none;
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }
   body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #00c656;
   }

.break-w{
word-wrap: break-word;
text-align: center;
}

</style>

{% if is_tenant %}
<a href="{% url 'my_news' %}">
    <button class="mdc-button" style="width: 100%;"><span class="mdc-button__ripple"></span>Вернуться к новостям
    </button>
</a>
{% elif is_manager %}
<a href="{% url 'my_news' %}">
    <button class="mdc-button" style="width: 100%;"><span class="mdc-button__ripple"></span>Вернуться к новостям
    </button>
</a>
{% endif %}
<div class="break-b">
    <p style="margin: 0 auto;font-size: 25pt;">{{ news.publicationTitle }}</p>
    <p style="word-wrap: break-word;">{{ news.publicationText|safe_markdown }}</p>
    {% if news.donation_on %}
    <iframe src={{link}} width="50%" height="250px" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
    {% endif %}
    <p style="color: grey">{{ news.publicationDate | date:"d.m.Y H-i"}}</p>
    <p style="color: grey">{{ news.company.name }}</p>
</div>
{% endblock%}
