<html>
<head>

  <title>Manager - Main Page</title>

  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<style>
    .rectangle-big-1{
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row: span 4;
    }
    .wrapper > .rectangle-big-1 > img{
      height: 80%;
    }
    @media only screen and (max-width: 1450px) {
      .rectangle-big-1{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row: span 4;
      }
    }
    @media only screen and (max-width: 1000px){
      .rectangle-big-1{
        grid-row: span 3;
      }
    }

    .square-1{
    }
</style>
<body onload="startTime()">
<div class="roof">
  <img class="logo" src="{% static 'img/logo.svg' %}">
  <img class="roofer" src="{% static 'img/qwerty.svg' %}"> 
</div>
{% if companyless %}
<!---ЛИЧНЫЙ КАБИНЕТ --->
<div style="text-align: center; font-size: 22pt;">
    <p>Вы не подключены к компании <br> Для дальнеешего пользование сервисом, пожалуйста, выберите свою компанию в редактировании профиля</p>
    <div class="wrapper">
        <div class="rectangle-big-1" onclick="window.location.href='/manager/my_cabinet'">
            <div  class="title">Личный кабинет, {{user.username}}</div>
            <img src="{{ user.manager.photo.url }}" width="40" height="40">
        </div>
        <div class="square" onclick="window.location.href=`{% url 'logout' %}`">
            <div class="title">Выйти</div>
            <img class="exit" src="{% static 'img/exit.png' %}">
        </div>
    </div>
</div>
{% else %}

  <div class="wrapper">
    <!---НОВОСТИ --->
    <div  class="rectangle-big" onclick="window.location.href='manager/news'">
        <div class="title">Новости</div>
        <div class="news" style="background-color: inherit;">
          <h2>{{last_news.publicationTitle}}</h2>
          <h5>{{last_news.publicationDate | date:"d.m.Y в H:i"}}</h5>
          <div class="fakeimg"></div>
          <p>{{news_text}}...</p>
        </div>
    </div>

    <!---ФОРУМЫ --->
    <div  class="square" onclick="window.location.href='manager/company_forums'">
        <div class="title">Форумы домов вашей компании</div>
        <img class="house" src="{% static 'img/house.png' %}">
    </div>

    <div  class="square" onclick="window.location.href='forum/{{ user.manager.company.forum.id }}'">
        <div class="title">Форум моей компании</div>
        <img class="house" src="{% static 'img/company.png' %}">
    </div>

      <!---МОИ ЗАДАНИЯ --->
      <div class="square" onclick="window.location.href='vol/help'">
         <div  class="title">Задания моей компании</div>
          <br>
          <div  class="title">
              <p>Ваших открытых заданий: {{ amount_of_my_opened_tasks }}</p>
          </div>
      </div>

      <!---ЛИЧНЫЙ КАБИНЕТ --->
      <div class="square" onclick="window.location.href='/manager/my_cabinet'">
        <div  class="title">Личный кабинет {{user.first_name}}</div>
        <img src="{{ user.manager.photo.url }}" width="40" height="40">
      </div>

      <!---МОИ ОБРАЩЕНИЯ --->
    <div class="rectangle-horizontal" onclick="window.location.href='my_appeals'">
        <div  class="title">Мои обращения</div>
        <br>
        <div class="appeal">
          <p>
          <img class="male_operator" src="{% static 'img/male_operator.png' %}">{{ last_appeal }}
          </p>
        </div>
    </div>

      <!---ОБРАЩЕНИЯ МОЕЙ КОМПАНИИ--->
    <div class="rectangle-horizontal" onclick="window.location.href='manager/company_appeals'">
        <div  class="title">Открытые обращения</div>
        <br>
        <div class="appeal">
          <p>
          <img class="operator" src="{% static 'img/operator.png' %}">Всего открытых обращений: {{ amount_of_opened_appeals }}
          </p>
        </div>
    </div>

    <!--- ПРОПУСКИ --->
    <div class="rectangle-horizontal" onclick="window.location.href='manager/pass/houses'">
        <div  class="title">Пропуска</div>
        <img class="pass" src="{% static 'img/pass.png' %}">
    </div>
    <!---ПОДТВЕРЖДЕНИЕ ЖИТЕЛЕЙ --->
      <div class="square" onclick="window.location.href='manager/tenant_confirming'">
         <div  class="title">Подтверждение жителей</div>
          <br>
          <div  class="title">
              <p>Жителей не подтверждено: {{ amount_of_unconfirmed_tenants }}</p>
          </div>
      </div>
    <!---Добавление дома --->
      <div class="square" onclick="window.location.href='manager/add_house'">
         <div  class="title">Добавление дома</div>
          <br>
          <div  class="title">
              <p>Всего домов в Вашей компании: {{ amount_of_houses }}</p>
          </div>
      </div>

      <div class="timer rectangle-horizontal" onclick="window.location.href='https://yandex.ru/time/'">
          <div class="title">Время</div>
          <div id="clock1" class="clock1">
              <div class="clock" id="clock">
                  <span class="time" id="hr"></span>:
                  <span class="time" id="min"></span>:
                  <span class="time" id="sec"></span>
              </div>
          </div>
      </div>

      <div class="square" onclick="window.location.href=`{% url 'logout' %}`">
        <div class="title">Выйти</div>
        <img class="exit" src="{% static 'img/exit.png' %}">
    </div>
  </div>
{% endif %}
</body>
<script type="text/javascript">
  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('hr').innerHTML =h;
    document.getElementById('min').innerHTML =m;
    document.getElementById('sec').innerHTML =s;
    var t = setTimeout(startTime,500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};
    return i;
}
</script>
</html>
