{% extends 'base.html' %}
{% block content %}
	
<a href="{% url 'houses_passes'%}"><button class="mdc-button mdc-button--outlined" style="float:right"><span class="mdc-button__ripple"></span>Вернуться в список домов</button></a>
	
<h3>Список пропусков дома {{ house.address }}</h3>

<h1>Список пропусков на людей</h1>
{% for pass in human_passes %}
<a href="{% url 'pass' pass_id=pass.id %}">Пропуск</a><br>
    {{ pass.name }}
    {{ pass.surname }}
	{{ pass.patronymic }}:
    <br>
	Цель посещения: {{ pass.aim }}
{% endfor %}

<br><br>

<h1>Список пропусков на машины</h1>
{% for pass in car_passes %}
<a href="{% url 'pass' pass_id=pass.id %}">Пропуск</a><br>
	{{ pass.model }}
	{{ pass.color }}
	{{ pass.number }}:
	<br>
	Цель посещения: {{ pass.aim }}
{% endfor %}

{% endblock %}