{% extends 'base.html' %}
{% block content %}

{% load static %}
<script src="{% static 'tenant_confirm.js' %}"></script>

<h1>Неподтвержденные жители:</h1>
<hr>
<a href="{% url 'manager_main' %}">Вернуться на главную страницу</a>
<hr>
<form method="post">
    <input type="hidden" id="confirm-id" value=0 name="confirmed">
    <input type="hidden" id="notconfirm-id" value=0 name="unconfirmed">
    {% csrf_token %}
    {% if flag %}
        <h5>Новых запросов от жителей пока не поступало. Заходите позже</h5>
    {% endif %}
    {% for house in houses %}
    <h3>{{ house.house.address }}</h3>
    <hr>

    {% for tenant in house.unconfirmed_tenants %}
    <p>Имя: {{tenant.user.first_name}}</p>
    <p>Фамилия: {{tenant.user.last_name}}</p>
    <p>Квартира: {{tenant.flat}}</p>
        <input type="submit" onclick="confirm({{tenant.id}});" value="Подтвердить жителя">
        <input type="submit" onclick="notconfirm({{tenant.id}});" value="Отклонить запрос жителя">
    <hr>
    {% endfor %}
    {% endfor %}
</form>




{% endblock %}