{% extends 'base.html' %}

{% block content %}

<style>
    .themes{
    width:100%;
    border: 1px solid #FFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }


    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #0433BF;
    --mdc-theme-background: #021859;
    --mdc-theme-error: #b00020;
    }

    .category {
    width: 100%;
    max-height: 120px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20pt;
    margin: 10px;
    white-space: normal;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    text-align: left;

}
</style>

<div>
    <a href="{% url 'forum' forum_id=forum.id%}"><input class="mdc-button" value="Вернуться" type="button" style="margin: 0 30%; width: 40%;"></a>

    {% for discussion in discussions %}
    <a href="{% url 'discussion' discussion_id=discussion.id %}"><button class="category ms-motion-slideUpIn $ms-motion-duration-4"><span style="float:left">{{ discussion.theme }}</span><br>
        <span style="float:left; font-size:13pt">{{ discussion.description }}</span>
    </button></a>
<br>
{% endfor %}

    {% for category in categories %}
        <a href="{% url 'category' forum_id=forum.id %}"> <button class="category ms-motion-slideUpIn $ms-motion-duration-4">
    <p>{{ category.name }}</p>
  </button>
        </a>
 {% for discussion in category.list_of_discussions %}
     <a href="{% url 'discussion' discussion_id=discussion.id %}"><button style="color:rgb(0, 178, 203)">{{ discussion.theme }}</button></a>
<br>
    <a href="{% url 'discussion' discussion_id=discussion.id %}"><button>{{ discussion.description }}</button></a>
<br>
<br>
{% endfor %}

{% endfor %}

</div>

{% endblock%}