{% extends 'base.html' %}

{% block content %}

<style>

    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #00C853;
    --mdc-theme-background: #021859;
    --mdc-theme-surface: #0B9ED9;
    --mdc-theme-error: #b00020;
    }

.forminput {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
}
    .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 70%;
  max-height: 700px;
  margin: 100px auto 100px;
  box-sizing: border-box;
  padding: 30px 0 70px 0;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
  height: 120px;
  resize: none;
  overflow: auto;
}

.demo-width-class {
  width: 400px;
}

.select{
    position: relative;
    width: 40%;
    float:left;
}

.select select{
    background: #f2f2f2;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 3px;
    font-size: 14pt;
    color: #000;
    outline: none;
}
.select: before{
    position: absolute;
    color: #000000;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #007ce0;

}
.op{
background: #f2f2f2;
outline: none;
font-size: 13pt;
border: none;
}



</style>



{% if form.errors %}
Найдены ошибки:
<ul>
    {% for key.value in form.errors.items %}
    <li>Поле: {{ key|escape }}: {{ value|escape }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="form ms-motion-slideUpIn $ms-motion-duration-4">
    <form method="POST">
    {% csrf_token %}
            <input class="forminput" type="text" name="theme" maxlength="40" placeholder="Заголовок" required><br><br>
        <textarea name="description" placeholder="Описание" required></textarea><br><br>


        <label for="category" style="float:left; margin: 5px 0 0 10%; font-size:14pt">Тема</label>
        <div class="select">
            <select id="category" name="category">
                {% for category in categories %}
                    <option class="op" value={{category}}>{{ category }}</option>
                {% endfor %}
            </select>
        </div>


        <div style="margin-left:60%">

    <label for="anonymous" style="float:left; font-size:14pt; margin: 5px -30% 0 0;">Возможность комментировать анонимно</label>
        <div class="mdc-form-field">

        <div class="mdc-checkbox">
            <input class="mdc-checkbox__native-control" type="checkbox" name="anonymous" id="anonymous"><br><br>
            <div class="mdc-checkbox__background">
      <svg class="mdc-checkbox__checkmark"
           viewBox="0 0 24 24">
        <path class="mdc-checkbox__checkmark-path"
              fill="none"
              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
      </svg>
      <div class="mdc-checkbox__mixedmark"></div>
    </div>
    <div class="mdc-checkbox__ripple"></div>
  </div>
        </div>
        </div><br><br>



            <input class="mdc-button mdc-button--raised" type="submit" value="Создать" style="float:left; margin: 0 0 0 10%; width: 39%;">
    </form>
    <a href="{% url 'forum' forum_id=forum.id%}"><input class="mdc-button mdc-button--outlined" value="Вернуться" type="button" style="float:right; margin: 0 10% 0 0; width: 39%;"></a>
</div>






{% endblock %}