{% extends 'base.html' %}

{% block content %}



<a href="{% url 'my_appeals'%}"><button>Вернуться ко всем обсуждениям</button></a><br>
<a>Сей диалог происходит между пользователем {{ user.username }} и компанией с инн {{ appeal.company.inn }}</a><br>
<br><br>
<h3>Тема сего обсуждения: {{ appeal.theme }}</h3><br>

<form method="POST">
    {% csrf_token %}

    {% for message in appeal_messages %}
    <hr>
    <h5>{{ message.creator }}:  {{ message.text }}</h5>
    {% endfor %}
    <br><br>
    <input type="text" name="message" placeholder="Сообщение" style="width: 600px; margin-left: 0px; border-radius: 4px;">
    <button type="submit">Отправить</button>
</form>






{% endblock %}
