{% extends 'base.html' %}

{% block content %}



<fieldset style="padding: 10px; border: 2px black solid;">
    <form method="POST">
    {% csrf_token %}
        <input type="text" name="theme" maxlength="20" placeholder="Тема" required><br><br>
        <br>
        <input type="text" name="first_appeal_message" placeholder="Сообщение" required><br><br>
        <br>
        <input type="submit" value="Создать">
    </form>
    <a href="{% url 'profile'%}"><input value="Вернуться" type="button"></a>
</fieldset>






{% endblock %}