{% extends 'base.html' %}

{% block content %}



<fieldset style="padding: 10px; border: 2px black solid;">
    <form method="POST">
    {% csrf_token %}
            <input type="text" name="theme" maxlength="20" placeholder="Тема" required><br><br>
            <label for="category">Категория</label>
            <select id="category" name="category">
                {% for category in categories %}
                    <option value={{category}}>{{ category }}</option>
                {% endfor %}
            </select><br><br>
            <label for="anonymous">Анонимность</label>
            <input type="checkbox" name="anonymous" id="anonymous"><br><br>
            <input type="submit" value="Создать">
    </form>
    <a href="{% url 'forum' id=forum.id%}"><input value="Вернуться" type="button"></a>
</fieldset>






{% endblock %}