{% extends 'base.html' %}

{% block content %}





{% if house_forum %}
    <h1>Этот форум принадлежит дому с адресом {{ house.address }}</h1>
    <hr>
{% elif company_forum %}
    <h1>этот форум принадлежит компании с инн {{ company.inn }}</h1>
    <hr>
{% endif %}
<a href="{% url 'cr_discussion' id=forum.id%}"><button>Создать обсуждение</button></a>
<hr>
{% for category in categories %}
<h4 style="color: violet;">Категория: {{ category.name }}</h4>

{% for discussion in category.list_of_discussions %}
     <a href="{% url 'discussion' id=discussion.id%}"><button style="color:rgb(0, 178, 203)">{{ discussion.theme }}</button>    автор: {{discussion.author }}; дата создания: {{ discussion.cr_date }}</a><br>
<br>
{% endfor %}


<hr>
{% endfor %}








{% endblock %}