{% extends 'base.html' %}

{% block content %}
<style>

    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #0433BF;
    }

.forminput {
  font-family: "Roboto", sans-serif;
  outline: 1px;
  min-width: 30%;
  border: 1px;
  border-color: #000000;
  margin: 5px 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: fit-content;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
    .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 70%;
  max-height: 700px;
  margin: 100px auto 100px;
  box-sizing: border-box;
  padding: 30px 0 70px 0;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.formtextarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14pt;
  border-radius: 4px;
  height: 120px;
  resize: none;
  overflow: auto;
}

.demo-width-class {
  width: 400px;
}


  a {
    text-decoration: none;
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }
    .category {
    width: 70%;
    height: 60px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20pt;
    margin: 10px 15%;
}


</style>

<a href="{% url 'cr_appeal' %}"><button class="mdc-button mdc-button--raised" style="width:25%;"><span class="mdc-button__ripple"></span>Создать обращение</button></a>
<a href="{% url 'profile'%}"><button class="mdc-button" style="float:right;"><span class="mdc-button__ripple"></span>Вернуться в профиль</button></a>

<br><br>
<hr>
{% for appeal in user_appeals %}
<a href="{% url 'appeal' id=appeal.id%}"><button class="category">{{ appeal.theme }}</button></a>
<hr>
{% endfor %}





{% endblock %}
