<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% extends 'base.html' %}
{% block content %}

 <form action='' id="comment" method="post">
            {% csrf_token %}
                <div class="form-group row">
                    <div class="col-1.5">
                    <div class="alert alert-info" role="alert">
                    <div align = "center"> {{thread.author}} </div>
                    <div class="media">
                    <img src="http://file.mobilmusic.ru/0e/98/84/1467407-128.jpg"  align = "left" alt="...">
                    </div>
                    <div align = "center"> Роль </div>
                    </div>
                    </div>
                <div class="col">
                <div class="alert alert-primary" role="alert">
                <a href="http://127.0.0.1:8000/forum/discussion/{{ discussion.id }}" class="text-dark"> <h1>{{discussion.theme}}</h1></a>
                </div>


                <div class="col 7">
                <div class="alert alert-secondary" role="alert">
                    <h3>{{thread.text}}</h3>
                </div>
                </div>
                </div>
                </div>
                <br>

{% for item in comments %}
<div class="form-group row">
                 <div class="col-1">
                 </div>
                <div class="col-1.5">
                <div class="alert alert-info" role="alert">
                   <div align = "center"> {{item.author}} </div>
                <div class="media">
                    <img src="http://file.mobilmusic.ru/0e/98/84/1467407-128.jpg"  align = "left" alt="...">
                </div>
                    <div align = "center"> Роль </div>
                </div>
                </div>
                <div class="col-9">
                <div class="alert alert-secondary" role="alert">
                {{item.text}}
                </div>
                    <div align = "right"> {{item.cr_date}} </div>
                </div>

    <div class="col-1">
                 </div>
</div>
{% endfor %}

            <div class="form-group row">
                <div class="col-1">
                </div>
            <div class="col-11">
                 <input type="text"  name = "text" class="form-control form-control-lg" id="text" placeholder="Напишите комментарий...">
            </div>
            </div>
            <div class="form-group row">
                <div class="col-1">
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Отправить">
                </div>
            </div>
        </form>
{% endblock %}