{% extends 'base.html' %}
{% block content %}
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<body>
<a href="{% url 'my_pass' %}">
<button class="mdc-button mdc-button--raised" style="font-size:15pt; height: 40px; width:25%; margin-left:75%; margin-up:10%"><span class="mdc-button__ripple"></span>Вернуться</button>
</a>
<h2>Пропуск</h2>
<p>Выберите какой пропуск вы будете заказывать</p>

<div class="tab">
  <button class="tablinks" onclick="openTarget(event, 'person')" id="defaultOpen">На человека</button>
  <button class="tablinks" onclick="openTarget(event, 'car')">На машину</button>
</div>
<form method="POST">
  {% csrf_token %}
  <div id="person" class="tabcontent">
    <input type="text" placeholder="Фамилия" name="surname"><br>
    <input type="text" placeholder="Имя" name="name"><br>
    <input type="text" placeholder="Отчество" name="patronymic"><br>
    <label for="aim1">Цель визита:</label>
    <select id="aim1" name="aim">
      <option value="Гость">Гость</option>
      <option value="Курьер">Курьер</option>
    </select><br>
    <input type="hidden" name="target" value="person">
    <button type="submit">Заказать</button>
  </div>
</form>
<form method="POST">
  {% csrf_token %}
  <div id="car" class="tabcontent">
    <input type="text" placeholder="Модель машины" name="model"><br>
    <input type="text" placeholder="Цвет машины" name="color"><br>
    <input type="text" placeholder="Номер машины" name="number"><br>
    <label for="aim2">Цель визита:</label>
    <select id="aim2" name="aim">
      <option value="Гость">Гость</option>
      <option value="Курьер">Перевозка груза</option>
    </select><br>
    <input type="hidden" name="target" value="car">
    <button type="submit">Заказать</button>
  </div>
</form>
<script>
document.getElementById("defaultOpen").click();
function openTarget(evt, targetName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(targetName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

</body>
{% endblock %}