{% extends 'base.html' %}
{% block content %}

<br>
{% if form.errors %}
Найдены ошибки:
<ul>
    {% for key.value in form.errors.items %}
    <li>Поле: {{ key|escape }}: {{ value|escape }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
      <input type="text" name="description" maxlength="20" placeholder="Тема" required><br><br>
        <textarea name="task" maxlength="100" placeholder="Описание задания" required></textarea><br>
                <input type="submit" value="Создать" style="float:left; margin: 0 0 0 10%; width: 39%;">

</form>
    <a href="{% url 'index' %}"><input  value="Вернуться" type="button"></a>

{% endblock %}