{% extends 'base.html' %}
{% block content %}

<br><br>

{% if user.tenant.is_vol %}
    <a href="{% url 'volunteer' %}"><input  value="Вернуться к заданиям для волонтеров" type="button"></a>
{% endif %}
<a href="{% url 'help' %}"><input  value="Вернуться к моим запросам помощи" type="button"></a>



<hr>
    <p>Описание задания: {{ task.description }}</p><br>
    <p>Содержание задания: {{ task.task }}</p><br>
    <p>Автор: {{ task.author.username }}</p><br>

{% if is_taken %}
    <a>За это задание взятся: {{ task.volunteer.user.username }}</a><br><br>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% if my_task and is_taken %}
    <input type="hidden" value="closed" name="status">
    <input type="submit" value="Закрыть задание">
    {% elif my_task and is_opened %}
    <input type="hidden" value="closed" name="status">
    <input type="submit" value="Закрыть задание">
    {% elif is_opened %}
    <input type="hidden" value="taken" name="status">
    <input type="submit" value="Взяться за задание">
    {% elif is_taken %}
    <p>Вы взялись выполнять это задание</p>
    {% endif %}
</form>



{% endblock %}